body {
  text-align: center;
}

input.error {
  border: 2px solid red;
}

p.error {
  color: red;
}

button {
  padding: 8px 16px;
  margin: 8px;
}

#modal-root {
  z-index: 10000;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
